html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar,.sidebar-wrapper,.title  {
    display: none;
}
#wrapper.active {
    padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
    display: none;

}
.page-content {
    padding-top: 0;
}
.col-md-12 {
    padding-right: 0;
}
#map {
    position: relative;
    height: 800px;
}
